<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nct.common.file.mapper.FilesMapper">

    <!-- 업로드 파일 메타데이터 저장. REG_DT 등 시스템 컬럼은 DB DEFAULT에 맡긴다 -->
    <insert id="insertFile" parameterType="nct.common.file.domain.StoredFile"
            useGeneratedKeys="true" keyProperty="flSn">
        /* 공통: 파일 메타데이터 저장 */
        INSERT INTO FILES (
            FL_ORG_NM, FL_SAVE_NM, FL_PATH, FL_EXT, FL_SIZE_AMT
        ) VALUES (
            #{flOrgNm}, #{flSaveNm}, #{flPath}, #{flExt}, #{flSizeAmt}
        )
    </insert>

</mapper>
