<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nct.trade.mapper.AdminTradeDisputeReadMapper">
    <sql id="columns">
        d.TRD_DSP_SN AS disputeSn,
        d.TRD_SN AS tradeSn,
        d.DSPT_USR_SN AS disputerUserSn,
        d.TRD_DSP_TYPE_CD AS disputeTypeCode,
        d.TRD_DSP_STATUS_CD AS disputeStatusCode,
        d.TRD_DSP_REG_DT AS registeredAt,
        d.TRD_DSP_UPDT_DT AS updatedAt,
        t.TRD_TYPE_CD AS tradeTypeCode,
        t.TRD_STATUS_CD AS tradeStatusCode,
        t.SLLR_USR_SN AS sellerUserSn,
        t.BYPR_USR_SN AS buyerUserSn,
        t.REQ_USR_SN AS requesterUserSn,
        t.PRV_USR_SN AS providerUserSn,
        t.PRD_SN AS productSn,
        t.SVC_REQ_SN AS serviceRequestSn
    </sql>

    <sql id="fromWhere">
        FROM TRADE_DISPUTE d
        JOIN TRADE t ON t.TRD_SN = d.TRD_SN
        WHERE 1 = 1
        <if test="query.disputeTypeCode != null">
            AND d.TRD_DSP_TYPE_CD = #{query.disputeTypeCode}
        </if>
        <if test="query.disputeStatusCode != null">
            AND d.TRD_DSP_STATUS_CD = #{query.disputeStatusCode}
        </if>
        <if test="query.searchNumber != null">
            AND (
                d.TRD_DSP_SN = #{query.searchNumber}
                OR d.TRD_SN = #{query.searchNumber}
                OR d.DSPT_USR_SN = #{query.searchNumber}
            )
        </if>
    </sql>

    <select id="count" resultType="long">
        SELECT COUNT(*)
        <include refid="fromWhere"/>
    </select>

    <select id="findPage" resultType="nct.trade.dto.AdminTradeDisputeRecord">
        SELECT <include refid="columns"/>
        <include refid="fromWhere"/>
        ORDER BY d.TRD_DSP_REG_DT DESC, d.TRD_DSP_SN DESC
        LIMIT #{query.size} OFFSET #{query.offset}
    </select>

    <select id="findById" resultType="nct.trade.dto.AdminTradeDisputeRecord">
        SELECT <include refid="columns"/>
        FROM TRADE_DISPUTE d
        JOIN TRADE t ON t.TRD_SN = d.TRD_SN
        WHERE d.TRD_DSP_SN = #{disputeSn}
    </select>
</mapper>
